:root {
  --font-body: 'Antarctican-Mono', arial, sans-serif;
  --font-legend: 'Roboto', arial, sans-serif;
  --font-title: 'Span', Georgia, serif;
  --font-size: 16px;
  --graen-legend: #c1b295;
  --graen-green: #4e5f57;
  --graen-red: #981a30;
  --graen-beige: #c1b198;
  --lotus-black: #222627;
  --lotus-purple: #5d2a5b;
  --lotus-lilac: #c5b7e2;
  --pastel-white: #ffffff;
  --pastel-lavender: #c5b3d7;
  --pastel-sakura: #f2aece;
  --pastel-peach: #fcc6a6;
  --pastel-mint: #61c5b9;
  --pilot-white: var(--pastel-white);
  --pilot-red: #db2c27;
  --pilot-yellow: #f1e211;
  --pilot-black: #12110f;
  --drifter-white: #ffffff;
  --drifter-red: #b23b57;
  --drifter-teal: #91faf5;
  --drifter-grey: #7c8185;
  --drifter-black: #12110f;
  --atlantis-aqua: #5dceba;
  --atlantis-navy: #1f2a44;
  --lich-lilac: #decde7;
  --lich-plum: #514163;
  --lich-yellow: #efc06e;
  --candybar-black: #0a0a0a;
  --candybar-cherry: #990012;
  --candybar-spacegrey: #1b1b1b;
  --candybar-lavender: #b2a4d4;
  --candybar-white: #ebebeb;
  --background-colour: #22222e;
  --selection: #1a1a26;
  --accent: #f6bd14;
  --text-colour: #fff; }

.keyset-graen {
  --base: var(--graen-green);
  --base-shadow: var(--graen-green-shadow);
  --legend: var(--graen-beige);
  --modifier: var(--base);
  --modifier-shadow: var(--base-shadow);
  --modifier-legend: var(--graen-beige); }

.keyset-lotus {
  --base: var(--lotus-black);
  --base-shadow: var(--lotus-black-shadow);
  --legend: var(--lotus-lilac);
  --modifier: var(--lotus-purple);
  --modifier-shadow: var(--lotus-purple-shadow);
  --modifier-legend: var(--lotus-lilac); }

.keyset-pastel-lavender {
  --base: var(--pastel-white);
  --base-shadow: var(--pastel-white-shadow);
  --legend: var(--pastel-lavender);
  --modifier: var(--pastel-lavender);
  --modifier-shadow: var(--pastel-lavender-shadow);
  --modifier-legend: var(--pastel-white); }

.keyset-pastel-peach {
  --base: var(--pastel-white);
  --base-shadow: var(--pastel-white-shadow);
  --legend: var(--pastel-peach);
  --modifier: var(--pastel-peach);
  --modifier-shadow: var(--pastel-peach-shadow);
  --modifier-legend: var(--pastel-white); }

.keyset-pastel-mint {
  --base: var(--pastel-white);
  --base-shadow: var(--pastel-white-shadow);
  --legend: var(--pastel-mint);
  --modifier: var(--pastel-mint);
  --modifier-shadow: var(--pastel-mint-shadow);
  --modifier-legend: var(--pastel-white); }

.keyset-pastel-sakura {
  --base: var(--pastel-white);
  --base-shadow: var(--pastel-white-shadow);
  --legend: var(--pastel-sakura);
  --modifier: var(--pastel-sakura);
  --modifier-shadow: var(--pastel-sakura-shadow);
  --modifier-legend: var(--pastel-white); }

.keyset-pilot {
  --base: var(--pilot-white);
  --base-shadow: var(--pilot-white-shadow);
  --legend: var(--pilot-black);
  --modifier: var(--pilot-black);
  --modifier-shadow: var(--pilot-black-shadow);
  --modifier-legend: var(--pilot-yellow);
  --accent: var(--pilot-red);
  --accent-shadow: var(--pilot-red-shadow);
  --accent-legend: var(--pilot-yellow); }

.keyset-drifter {
  --base: var(--drifter-white);
  --legend: var(--drifter-black);
  --modifier: var(--drifter-red);
  --modifier-legend: var(--drifter-teal);
  --accent: var(--drifter-teal);
  --accent-legend: var(--drifter-red); }

.keyset-atlantis {
  --base: var(--atlantis-navy);
  --legend: var(--atlantis-aqua);
  --modifier: var(--atlantis-aqua);
  --modifier-legend: var(--atlantis-navy); }

.keyset-lich {
  --base: var(--lich-lilac);
  --legend: var(--lich-plum);
  --modifier: var(--lich-plum);
  --modifier-legend: var(--lich-yellow);
  --accent: var(--lich-yellow);
  --accent-legend: var(--lich-plum); }

.keyset-atlantis,
.keyset-graen,
.keyset-lotus,
.keyset-pastel-lavender,
.keyset-pastel-peach,
.keyset-pastel-mint,
.keyset-pastel-sakura {
  --accent: var(--modifier);
  --accent-legend: var(--modifier-legend); }

.keyboard_ergo {
  --key-size: 50px;
  --key-spacing: 4px;
  --keyboard-padding: 40px; }

/* Candybar colours
============================================== */
.candybar-spacegrey {
  --key-size: 50px;
  --key-spacing: 4px;
  --keyboard-colour: var(--candybar-spacegrey);
  --keyboard-padding: 40px; }

.candybar-white {
  --key-size: 51px;
  --key-spacing: 2px;
  --keyboard-colour: var(--candybar-white);
  --keyboard-padding: 42px; }

.candybar-lavender {
  --key-size: 51px;
  --key-spacing: 2px;
  --keyboard-colour: var(--candybar-lavender);
  --keyboard-padding: 42px; }

.candybar-cherry {
  --key-size: 51px;
  --key-spacing: 2px;
  --keyboard-colour: var(--candybar-cherry);
  --keyboard-padding: 42px; }

.candybar-black {
  --key-size: 51px;
  --key-spacing: 2px;
  --keyboard-colour: var(--candybar-black);
  --keyboard-padding: 42px; }

.candybar-navy {
  --key-size: 51px;
  --key-spacing: 2px;
  --keyboard-colour: var(--candybar-navy);
  --keyboard-padding: 42px; }

/* Default key colours
============================================= */
.key {
  background-color: var(--base); }
  .key::before {
    background-color: var(--base); }

.legend {
  color: var(--legend); }

.modifier {
  background: var(--modifier); }
  .modifier::before {
    background: var(--modifier); }
  .modifier .legend {
    color: var(--modifier-legend); }

.accent {
  background: var(--accent); }
  .accent::before {
    background: var(--accent); }
  .accent .legend {
    color: var(--accent-legend); }

/* keycap paint bucket colour styling
   syntax: paint(base, legend)
============================================= */
.drifter-red {
  background-color: var(--drifter-red); }
  .drifter-red::before {
    background-color: var(--drifter-red); }
  .drifter-red .legend {
    color: var(--drifter-teal); }

.drifter-teal {
  background-color: var(--drifter-teal); }
  .drifter-teal::before {
    background-color: var(--drifter-teal); }
  .drifter-teal .legend {
    color: var(--drifter-red); }

.drifter-grey {
  background-color: var(--drifter-grey); }
  .drifter-grey::before {
    background-color: var(--drifter-grey); }
  .drifter-grey .legend {
    color: var(--drifter-white); }

.drifter-white {
  background-color: var(--drifter-white); }
  .drifter-white::before {
    background-color: var(--drifter-white); }
  .drifter-white .legend {
    color: var(--drifter-black); }

.atlantis-aqua {
  background-color: var(--atlantis-aqua); }
  .atlantis-aqua::before {
    background-color: var(--atlantis-aqua); }
  .atlantis-aqua .legend {
    color: var(--atlantis-navy); }

.atlantis-navy {
  background-color: var(--atlantis-navy); }
  .atlantis-navy::before {
    background-color: var(--atlantis-navy); }
  .atlantis-navy .legend {
    color: var(--atlantis-aqua); }

.lich-lilac {
  background-color: var(--lich-lilac); }
  .lich-lilac::before {
    background-color: var(--lich-lilac); }
  .lich-lilac .legend {
    color: var(--lich-plum); }

.lich-plum {
  background-color: var(--lich-plum); }
  .lich-plum::before {
    background-color: var(--lich-plum); }
  .lich-plum .legend {
    color: var(--lich-yellow); }

.lich-yellow {
  background-color: var(--lich-yellow); }
  .lich-yellow::before {
    background-color: var(--lich-yellow); }
  .lich-yellow .legend {
    color: var(--lich-plum); }

.graen-green {
  background-color: var(--graen-green); }
  .graen-green::before {
    background-color: var(--graen-green); }
  .graen-green .legend {
    color: var(--graen-beige); }

.graen-red {
  background-color: var(--graen-red); }
  .graen-red::before {
    background-color: var(--graen-red); }
  .graen-red .legend {
    color: var(--graen-beige); }

.graen-beige {
  background-color: var(--graen-beige); }
  .graen-beige::before {
    background-color: var(--graen-beige); }
  .graen-beige .legend {
    color: var(--graen-green); }

.lotus-black {
  background-color: var(--lotus-black); }
  .lotus-black::before {
    background-color: var(--lotus-black); }
  .lotus-black .legend {
    color: var(--lotus-lilac); }

.lotus-purple {
  background-color: var(--lotus-purple); }
  .lotus-purple::before {
    background-color: var(--lotus-purple); }
  .lotus-purple .legend {
    color: var(--lotus-lilac); }

.lotus-lilac {
  background-color: var(--lotus-lilac); }
  .lotus-lilac::before {
    background-color: var(--lotus-lilac); }
  .lotus-lilac .legend {
    color: var(--lotus-black); }

.pastel-lavender {
  background-color: var(--pastel-lavender); }
  .pastel-lavender::before {
    background-color: var(--pastel-lavender); }
  .pastel-lavender .legend {
    color: var(--pastel-white); }

.pastel-mint {
  background-color: var(--pastel-mint); }
  .pastel-mint::before {
    background-color: var(--pastel-mint); }
  .pastel-mint .legend {
    color: var(--pastel-white); }

.pastel-peach {
  background-color: var(--pastel-peach); }
  .pastel-peach::before {
    background-color: var(--pastel-peach); }
  .pastel-peach .legend {
    color: var(--pastel-white); }

.pastel-sakura {
  background-color: var(--pastel-sakura); }
  .pastel-sakura::before {
    background-color: var(--pastel-sakura); }
  .pastel-sakura .legend {
    color: var(--pastel-white); }

.pastel-white {
  background-color: var(--pastel-white); }
  .pastel-white::before {
    background-color: var(--pastel-white); }
  .pastel-white .legend {
    color: var(--modifier); }

/* custom radio selector colours
============================================= */
.select-drifter::before {
  background-color: var(--drifter-red);
  border: 4px solid var(--drifter-red); }

.select-pilot::before {
  background-color: var(--pilot-red);
  border: 4px solid var(--pilot-red); }

.select-atlantis::before {
  background-color: var(--atlantis-aqua);
  border: 4px solid var(--atlantis-aqua); }

.select-lich::before {
  background-color: var(--lich-plum);
  border: 4px solid var(--lich-plum); }

.select-graen::before {
  background-color: var(--graen-green);
  border: 4px solid var(--graen-green); }

.select-lotus::before {
  background-color: var(--lotus-purple);
  border: 4px solid var(--lotus-purple); }

.select-pastel-lavender::before {
  background-color: var(--pastel-lavender);
  border: 4px solid var(--pastel-lavender); }

.select-pastel-peach::before {
  background-color: var(--pastel-peach);
  border: 4px solid var(--pastel-peach); }

.select-pastel-mint::before {
  background-color: var(--pastel-mint);
  border: 4px solid var(--pastel-mint); }

.select-pastel-sakura::before {
  background-color: var(--pastel-sakura);
  border: 4px solid var(--pastel-sakura); }

.select-spacegrey::before {
  background-color: var(--candybar-spacegrey);
  border: 4px solid var(--candybar-spacegrey); }

.select-lavender::before {
  background-color: var(--candybar-lavender);
  border: 4px solid var(--candybar-lavender); }

.select-cherry::before {
  background-color: var(--candybar-cherry);
  border: 4px solid var(--candybar-cherry); }

.select-white::before {
  background-color: var(--candybar-white);
  border: 4px solid var(--candybar-white); }

.paint-drifter-red::before {
  background-color: var(--drifter-red);
  border: 4px solid var(--drifter-red); }

.paint-drifter-teal::before {
  background-color: var(--drifter-teal);
  border: 4px solid var(--drifter-teal); }

.paint-drifter-grey::before {
  background-color: var(--drifter-grey);
  border: 4px solid var(--drifter-grey); }

.paint-drifter-white::before {
  background-color: var(--drifter-white);
  border: 4px solid var(--drifter-white); }

.paint-atlantis-aqua::before {
  background-color: var(--atlantis-aqua);
  border: 4px solid var(--atlantis-aqua); }

.paint-atlantis-navy::before {
  background-color: var(--atlantis-navy);
  border: 4px solid var(--atlantis-navy); }

.paint-lich-lilac::before {
  background-color: var(--lich-lilac);
  border: 4px solid var(--lich-lilac); }

.paint-lich-plum::before {
  background-color: var(--lich-plum);
  border: 4px solid var(--lich-plum); }

.paint-lich-yellow::before {
  background-color: var(--lich-yellow);
  border: 4px solid var(--lich-yellow); }

.paint-graen-green::before {
  background-color: var(--graen-green);
  border: 4px solid var(--graen-green); }

.paint-graen-red::before {
  background-color: var(--graen-red);
  border: 4px solid var(--graen-red); }

.paint-graen-beige::before {
  background-color: var(--graen-beige);
  border: 4px solid var(--graen-beige); }

.paint-lotus-black::before {
  background-color: var(--lotus-black);
  border: 4px solid var(--lotus-black); }

.paint-lotus-purple::before {
  background-color: var(--lotus-purple);
  border: 4px solid var(--lotus-purple); }

.paint-lotus-lilac::before {
  background-color: var(--lotus-lilac);
  border: 4px solid var(--lotus-lilac); }

.paint-pastel-lavender::before {
  background-color: var(--pastel-lavender);
  border: 4px solid var(--pastel-lavender); }

.paint-pastel-mint::before {
  background-color: var(--pastel-mint);
  border: 4px solid var(--pastel-mint); }

.paint-pastel-peach::before {
  background-color: var(--pastel-peach);
  border: 4px solid var(--pastel-peach); }

.paint-pastel-sakura::before {
  background-color: var(--pastel-sakura);
  border: 4px solid var(--pastel-sakura); }

.paint-pastel-white::before {
  background-color: var(--pastel-white);
  border: 4px solid var(--pastel-white); }

:root {
  --stagger: 10px; }

.keyboard_ergo {
  width: 1200px;
  margin: 2em auto 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  justify-items: center; }

.ergo_left,
.ergo_right {
  position: relative; }

.ergo_left_main,
.ergo_right_main {
  display: flex;
  position: relative; }

.ergo_left_cluster,
.ergo_right_cluster {
  position: absolute;
  bottom: -80px;
  display: flex;
  align-items: flex-end; }

.ergo_left_cluster {
  transform: rotate(30deg);
  right: -85px; }

.ergo_right_cluster {
  transform: rotate(-30deg);
  left: -85px; }

.ergo-col-1,
.ergo-col-2 {
  margin-top: calc(var(--stagger) * 2); }

.ergo-col-3,
.ergo-col-5 {
  margin-top: var(--stagger); }

.ergo-col-6,
.ergo-col-7 {
  margin-top: calc(var(--stagger) * 1.5); }

.key-15u-v {
  height: calc(var(--key-size) * 1.5) !important;
  /* !!! */ }

.key-2u-v {
  height: calc(var(--key-size) * 2) !important;
  /* !!! */ }

.keyboard_ergo .key {
  margin: 3px 2px; }

.keyboard_ergo .key-right {
  margin-left: auto; }

body {
  background-color: var(--background-colour);
  color: var(--text-colour);
  font-family: var(--font-body); }

a {
  color: var(--accent); }

::selection {
  background-color: var(--selection); }

::-moz-selection {
  background-color: var(--selection); }

.hidden {
  visibility: hidden; }

h1 {
  font-family: var(--font-title);
  font-size: 3em;
  margin-bottom: 0; }

header {
  margin-top: 3em;
  margin-bottom: 3em;
  width: 901px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }

.nav-list {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  display: flex; }

.nav-list li {
  margin-right: 2em; }

.nav-list a {
  color: var(--text-colour); }

.nav-current {
  color: var(--accent);
  font-weight: bold; }

.keyboard-100 {
  display: grid;
  grid-template-columns: 790px 156px 200px;
  grid-gap: 1em;
  background: var(--keyboard-colour);
  padding: var(--keyboard-padding) 15px;
  border-radius: 10px;
  width: calc(790px + 156px + 214px + 2em);
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto; }

.arrows {
  margin-top: 58px;
  grid-row: span 2; }

.key-up {
  margin-left: auto;
  margin-right: auto; }

.key-esc {
  margin-right: var(--key-size); }

.key-fn-blocker {
  margin-right: 1.75em; }

.keyboard_candybar {
  display: flex;
  background: var(--keyboard-colour);
  padding: var(--keyboard-padding) 15px;
  border-radius: 10px;
  width: 901px;
  max-width: 90%;
  margin: 2em auto; }

.righty {
  flex-direction: row-reverse; }

.numpad {
  width: calc(53px * 4);
  margin-right: 2px;
  margin-left: 2px; }

.fortys {
  width: calc(53px * 13);
  margin-right: 2px;
  margin-left: 2px; }

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--key-spacing); }

.key {
  width: var(--key-size);
  height: var(--key-size);
  border-radius: 5px;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  padding: 2px 8px; }
  .key::before {
    content: '';
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    top: 3px;
    left: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: -1; }
  .key::after {
    content: '';
    background-color: rgba(0, 0, 20, 0.12);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 5px;
    z-index: -2; }
  .key:hover {
    cursor: pointer; }

.modifier {
  font-size: .75em;
  padding-top: 0px;
  display: flex;
  align-items: center; }

.legend {
  z-index: 2;
  font-weight: bold;
  font-family: var(--font-legend);
  line-height: 1; }

.key-size {
  position: absolute;
  bottom: 0;
  right: 2px;
  color: var(--legend);
  font-size: .75rem; }

.modifier .key-size {
  color: var(--modifier-legend); }

.key-125u {
  width: calc(var(--key-size) * 1.25); }

.key-15u {
  width: calc(var(--key-size) * 1.5); }

.key-175u {
  width: calc(var(--key-size) * 1.75); }

.key-2u {
  width: calc(var(--key-size) * 2 + 3px); }

.key-225u {
  width: calc(var(--key-size) * 2.25); }

.key-275u {
  width: calc(var(--key-size) * 2.75); }

.key-625u {
  width: calc(var(--key-size) * 6.25 + 13px); }

fieldset {
  border: none;
  padding: 0;
  margin: 0; }

legend {
  font-weight: bold;
  margin-bottom: .5em;
  font-size: 1.25em; }

.options {
  width: 901px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  font-size: var(--font-size);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .options label:first-of-type {
    margin-right: 1em; }
  .options input:checked + label {
    font-weight: bold; }
  .options label:hover, .options input:hover {
    cursor: pointer; }

.paint-bucket {
  flex: 2 0 100%;
  margin-top: 2em; }
  .paint-bucket p {
    font-weight: bold;
    margin-bottom: .5em;
    font-size: 1.25em; }

.paint-list,
.keyset-list,
.candybar-list {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }
  .paint-list li,
  .keyset-list li,
  .candybar-list li {
    margin-right: 2em;
    margin-bottom: .5em;
    padding-left: 1.5em;
    cursor: pointer;
    position: relative; }
    .paint-list li::before,
    .keyset-list li::before,
    .candybar-list li::before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: calc(1em - 8px);
      height: calc(1em - 8px);
      border-radius: 100%; }

.paint-current,
.keyset-current,
.candybar-current {
  font-weight: bold; }
  .paint-current::before,
  .keyset-current::before,
  .candybar-current::before {
    background: #111; }

footer {
  width: 901px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px solid var(--selection);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-top: 1.5em;
  font-size: 1em; }

